{% extends 'base.html.twig' %} {% block title %}{{parent()}}réservation d'un repas pour l'école{% endblock %} {% block body %}
<h1 class="text-center text-primary"> réservation d'un repas pour l'école </h1>
{% endblock %}