{% extends 'base.html.twig' %} {% block title %}{{parent()}}demande de carte d'identité{% endblock %} {% block body %}
<h1 class="text-center text-primary"> demande de carte d'identité </h1>
{% endblock %}